
<body>
    <!--Home View-->
    <div id="tabstrip-home"
         data-role="view"
         data-title="Home">

         <div data-role="header"></div>
            <div class="logo-header" style="text-align:left"></div>
             <div class="results">
            <div id="results" class="desc"></div>
        </div>
        <p>
            NOV Protect is an test application to locate
            NOV employees in a HRD when a crisis emerges.
        </p>
        
        <a data-role="button" data-icon="check"data-click="app.checkin" id="check_in">Check In</a>
        <a data-role="button" data-icon="alert" data-click="app.showConfirm" id="sos">Send SOS</a>
			<br>
       
        <div data-role="footer">
            <div data-role="tabstrip">
                <a href="views/home.html" data-icon="home">Home</a>
                <a href="views/locationView.html" data-icon="search">Location</a>
                
            </div>
        </div>
    </div>

</body>
