
<body>
    <!--Home View-->
    <div id="tabstrip-home"
         data-role="view"
         data-title="Home">

        <h3>Welcome!</h3>
        <p>
            NOV Protect is an test application to locate
            NOV employees in a HRD when a crisis emerges.
        </p>
        <br>
        <div class="results">
            <div id="results" class="desc"></div>
        </div>
        <a data-role="button" data-icon="check"data-click="app.checkin" class="check_in">Check In</a>
        <a data-role="button" data-icon="alert" data-click="app.checkin" class="sos">SOS</a>

        <div data-role="footer">
            <div data-role="tabstrip">
                <a href="views/home.html" data-icon="home">Home</a>
                <a href="views/locationView.html" data-icon="search">Location</a>
                
            </div>
        </div>
    </div>

</body>
